# virtual environment
venv/
nlrb_env/
__pycache__/
.python-version
.DS_Store
.vscode

# database configuration info
db_config.py

# locally stored sample data and logs
data/sample_data
*.csv
*.html
*.tar.gz
*.log

# sqlite db and backup
nlrb_data.db
nlrb_backup.sql
