# virtual environment
venv/
nlrb_env/
__pycache__/
.python-version
.DS_Store
.vscode
*.csv

# database configuration info
db_config.py

# too-large page scrapes
data/page_files/*.html
data/extant_data

# scraping log and backup postgresql dump
tasks/03_pages/*.log
tasks/03_pages/nlrb_dump