# virtual environment
venv/
nlrb_env/
__pycache__/
.python-version
.DS_Store
.vscode

*.csv
*.html
*.tar.gz
*.log

# database configuration info
db_config.py

# too-large page scrapes and backups
data/sample_data

# db and backup
nlrb_data.db
nlrb_backup.sql
